@media screen and (max-width: 1440px) and (min-width: 768px) {
    header{
        background-image: url(../img/header/Background_mid.png);
        background-repeat: no-repeat;
        background-position: center ;
    }
    .nav{
        width: 670px;
        margin-left: 39px;
        margin-top: 38px;
    }
    .head-text-container{
        &__text{
            font-size: 24px;
        }
        &__button{
            font-size: 14px;
        }
    }
}
